<!-- wp:template-part {"slug":"main-header","theme":"quantum-computing","tagName":"header"} /-->

  <!-- wp:pattern {"slug":"quantum-computing/main-banner"} /-->

<!-- wp:group {"tagName":"main","className":" wp-block-section about-main alignfull","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","right":"0px","left":"0px","bottom":"var:preset|spacing|60"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group wp-block-section about-main alignfull" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:0px;padding-bottom:var(--wp--preset--spacing--60);padding-left:0px"><!-- wp:pattern {"slug":"quantum-computing/about-section"} /-->
</main>
<!-- /wp:group -->  

  <!-- wp:pattern {"slug":"quantum-computing/testimonial"} /-->

  <!-- wp:pattern {"slug":"quantum-computing/projects-section"} /-->


<!-- wp:template-part {"slug":"footer-columns","theme":"quantum-computing","tagName":"footer"} /-->