@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* ---------------- General ---------------- */
.realtime-themes-helper-wrap {
  background: #fff; /* page white background */
  padding: 20px;
  border-radius: 12px;
  font-family: "Bai Jamjuree", Tahoma, sans-serif;
}
/* ---------------- Tabs Container ---------------- */
.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}
/* ---------------- Tabs ---------------- */
.nav-tab-wrapper {
  display: flex;
  border-bottom: 2px solid #dfdfdf;
  width: 100%;
}
.nav-tab {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 10px 18px;
  font-weight: 600;
  color: #666;
  transition: color 0.2s, border-bottom 0.2s;
}
.nav-tab:hover {
  color: #000;
}
.nav-tab-active {
  color: #000;
  border-bottom: 2px solid #000; /* active underline */
}
/* Save button outside tabs */
.save-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.save-button-wrapper .button-primary {
  background: #000;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid #000;
}
.save-button-wrapper .button-secondary {
  color: #000;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid #000;
}
.save-button-wrapper .button-secondary:hover {
  background-color: #f1f1f1;
}
.save-button-wrapper .button-primary:hover {
  background-color: #2f2f2f;
}
/* ---------------- Tabs Content ---------------- */
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
/* ---------------- Tabs Content ---------------- */
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
/* ---------------- Grid ---------------- */
.block-grid,
.pattern-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}
/* ---------------- Checkbox invisível ---------------- */
.block-grid input[type="checkbox"],
.pattern-grid input[type="checkbox"] {
  display: none;
}
/* ---------------- Cards ---------------- */
.block-card,
.pattern-card {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  border: 1px solid #000;
  border-radius: 12px;
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}
/* hover */
.block-card:hover,
.pattern-card:hover {
  background: #fff;
  color: #000;
  border-color: #000;
}
/* estado marcado: fundo preto */
.block-grid input[type="checkbox"]:checked + .block-card,
.pattern-grid input[type="checkbox"]:checked + .pattern-card {
  background: #fff;
  color: #000;
  border-color: #000;
}
/* texto dentro do card */
.block-card span,
.pattern-card span {
  flex: 1;
}
/* ---------------- Text ---------------- */
.realtime-themes-helper-wrap .description {
  color: #444;
  margin-bottom: 16px;
  font-size: 14px;
}
/* ---------------- Video Background ---------------- */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 200px);
  object-fit: cover;
  object-position: top center;
  z-index: 0;
  filter: saturate(0.5);
  margin-top: 200px;
}
.intro2 {
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgb(14, 13, 21) 0px,
    /* preto começa no topo */ rgb(14, 13, 21) 200px,
    /* mantém preto até 200px */ rgba(14, 13, 21, 0) 200px,
    /* a partir daqui, transparente */ rgba(14, 13, 21, 0) 100%
      /* continua transparente até o rodapé */
  );
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
}
.intro-text {
  position: relative; /* fica acima do vídeo */
  z-index: 1;
  color: #fff;
  margin-top: -150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.intro-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #fff;
  margin: 0px;
}
.intro-text p,
ul {
  font-size: 1.2rem;
  margin: 0px;
  width: 70%;
}
.intro-text a {
  font-size: 1rem;
  color: #000;
  background-color: #fff !important;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 30px 12px;
  border: none;
  width: 30%;
  border-radius: 0.5rem;
  filter: brightness(1);
  transition: filter 1s;
  margin: 0px;
  border: none;
  text-decoration: none;
}
/* get started */
.theme-title {
  margin: 0;
}
.bg-gradiant {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 35%,
    rgb(0, 0, 0) 70%,
    rgb(0, 0, 0) 100%
  );
}
.appearance_page_digitiva_guide #wpwrap {
  background: #000000;
  color: #333;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.col {
  flex: 1 0 0%;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
  align-self: center;
}
@media (max-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col {
    flex: 0 0 auto;
    width: 100%;
  }
}
.col-right {
  width: 100%;
  text-align: center;
  float: right;
}
.text-align-end {
  text-align: end;
}
.col-right img {
  width: 100%;
}
.pt-40 {
  padding-top: 4rem;
}
.wrapper-info h1 {
  color: #010101;
  font-size: 2.5rem;
  font-weight: 500;
}
.wrapper-info h4 {
  margin: 0;
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  padding-right: 28px;
}
.wrapper-info a {
  text-decoration: none;
}
.wrapper-info p {
  color: #878787;
  font-weight: 400;
  line-height: 1.6;
  font-size: 17px;
  padding-right: 28px;
}
#wpcontent,
#wpfooter {
  margin-right: 20px;
}
.centerbold a {
  color: #fff;
  padding: 9px 12px;
  text-decoration: none;
  font-size: 18px;
  background: #010101;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 32px;
  padding: 12px 28px;
}
a.bg-color {
  color: #ffffff;
  padding: 9px 12px;
  text-decoration: none;
  font-size: 18px;
  background: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 28px;
  border-radius: 12px;
}
a.bg-color-2 {
  color: #010101;
  padding: 9px 12px;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #010101;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 28px;
  border-radius: 12px;
}
a.bg-color-3 {
  color: #010101;
  padding: 9px 12px;
  text-decoration: none;
  font-size: 18px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 28px;
  border-radius: 12px;
}
a.bg-color-4 {
  color: #fff;
  padding: 9px 12px;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 28px;
  border-radius: 12px;
}
.centerbold a:hover {
  background: #2e2e2e;
  color: #fff;
}
.padding-20-l-r {
  padding: 0 20px;
  margin: 0;
}
.intro {
  padding: 48px 48px;
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  margin: 18px 0 0 0;
}
.features-theme {
  padding: 48px 48px;
  background-color: #010101;
  margin: 0 0 15px 0;
}
.intro p {
  font-weight: 400;
  line-height: 1.6;
  font-size: 19px;
  text-align: justify;
  margin: 0.6rem 0;
}
.intro ul {
  font-weight: 400;
  line-height: 1.6;
  font-size: 19px;
  width: 70%;
  margin-left: 25px;
  margin-bottom: 1rem;
  list-style: disc;
  color: #878787;
}
.col-left p {
  color: #2e2e2e;
  font-size: 18px;
  text-align: justify;
}
hr {
  margin: 20px 0;
}
.col-left-inner img {
  width: 100%;
  margin-bottom: 15px;
  border: solid 1px #ccc;
}
.started {
  float: left;
  width: 100%;
}
.video-theme {
  border-radius: 32px;
}
.coupon-code {
  float: right;
  width: 100%;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding: 12px 5px;
}
.coupon-code span {
  color: #e6f04e;
  font-size: 24px;
  font-weight: bold;
}
img.table-img {
  width: 100%;
}
.col-left-inner {
  width: 100%;
  float: left;
}
.col-right-inner {
  width: 100%;
  float: right;
}
.feature {
  float: left;
  width: 100%;
}
.col-md-4 {
  width: 33.33%;
  float: left;
}
.started ul {
  list-style: disc;
  font-size: 15px;
  margin-left: 30px;
}
.color_bg_blue {
  background-color: #d11190;
  display: block;
  float: left;
  padding: 15px 0 35px 35px;
  width: 95%;
}
.color_bg_blue p {
  color: #fff;
}
.color_bg_blue h4 {
  color: #fff;
  margin-bottom: 25px;
}
.blink {
  width: 100%;
  text-align: left;
}
.blink h4 {
  font-size: 18px;
  color: white;
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
  color: #ffffff;
  letter-spacing: 1px;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* theme activation*/
.welcome a {
  font-size: 21px;
  padding: 8px 17px 38px;
}
.notice p.dismiss-link {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
}
.notice {
  position: relative;
}
