@font-face{font-family: 'Poppins'; font-weight: 100; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-Thin.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 100; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-ThinItalic.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 200; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-ExtraLight.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 200; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-ExtraLightItalic.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 300; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-Light.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 300; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-LightItalic.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 400; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-Regular.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 400; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-Italic.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 500; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-Medium.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 500; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-MediumItalic.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 600; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-SemiBold.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 600; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-SemiBoldItalic.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 700; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-Bold.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 700; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-BoldItalic.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 800; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-ExtraBold.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 800; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-ExtraBoldItalic.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 900; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-Black.woff2');}
@font-face{font-family: 'Poppins'; font-weight: 900; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/Poppins-BlackItalic.woff2');}
@font-face{font-family: 'Playfair Display'; font-weight: 400; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/PlayfairDisplay-Regular.woff2');}
@font-face{font-family: 'Playfair Display'; font-weight: 400; font-style: italic; font-stretch: normal; font-display: swap; src: url('./assets/fonts/PlayfairDisplay-Italic.woff2');}
@font-face{font-family: 'Playfair Display'; font-weight: 500; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/PlayfairDisplay-Medium.woff2');}
@font-face{font-family: 'Playfair Display'; font-weight: 600; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/PlayfairDisplay-SemiBold.woff2');}
@font-face{font-family: 'Playfair Display'; font-weight: 700; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/PlayfairDisplay-Bold.woff2');}
@font-face{font-family: 'Playfair Display'; font-weight: 800; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/PlayfairDisplay-ExtraBold.woff2');}
@font-face{font-family: 'Playfair Display'; font-weight: 900; font-style: normal; font-stretch: normal; font-display: swap; src: url('./assets/fonts/PlayfairDisplay-Black.woff2');}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}
body h1 {
  font-size: 2.5rem;
}
body h2 {
  font-size: 2rem;
}
body h3 {
  font-size: 1.75rem;
}
body h4 {
  font-size: 1.5rem;
}
body h5 {
  font-size: 1.25rem;
}
body h6 {
  font-size: 1rem;
}
body p {
  margin-top: 0;
  margin-bottom: 0.9rem;
}

img {
  height: auto;
}

.wp-site-blocks > * {
  margin-top: 0!important;
}

.editor-styles-wrapper .pin-donation-section5-box-image {margin:0 auto !important;}
.editor-styles-wrapper .pin-donation-event-count p {font-size:30px; font-style:normal; font-weight:300; position:relative; left:-70px; top:0px;}

.editor-styles-wrapper .pin-donation-banner {position:relative;}
.editor-styles-wrapper .pin-donation-banner img{ position:relative; z-index:999; width:100% !important;}
.editor-styles-wrapper .pin-donation-banner .wp-block-image {margin:0px;}
.editor-styles-wrapper .pin-donation-header-social {padding-top:0px;}
.editor-styles-wrapper .pin-donation-header-social .wp-block-social-links li svg {font-size:22px;}
.editor-styles-wrapper .pin-donation-header-social .wp-block-social-links li a {padding:8px;}
.editor-styles-wrapper .pin-donation-banner-content {position:absolute; left: 0; right: 0; top: 50%; z-index: 999; transform: translateY(-50%);}

.editor-styles-wrapper .pin-donation-foundation-circle{position:absolute; right:0; bottom:0; width:230px; height:230px;}
.editor-styles-wrapper .pin-donation-plus{position: relative; top: 30px; right: 65px; text-align: right;}
.editor-styles-wrapper .pin-donation-numtext{letter-spacing:-1px;}
.editor-styles-wrapper .pin-donation-numtext{letter-spacing: -1px; position: relative; top: -15px;}
.editor-styles-wrapper .pin-donation-yeartext{position: relative; top: -15px;}
.editor-styles-wrapper .pin-donation-yeartext{position: relative; top: -30px; line-height: 26px;}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6{font-family: 'Playfair Display';}

.editor-styles-wrapper button,
.editor-styles-wrapper input,
.editor-styles-wrapper select,
.editor-styles-wrapper textarea{font-family: 'Poppins', sans-serif;}
.pin-donation-header{ position:absolute !important; width:100%; z-index:2;}
.pin-donation-menu .wp-block-navigation-item__content{padding:17px 0px;}
.pin-donation-menu .wp-block-navigation-submenu .wp-block-navigation-item__content{padding: .5em 1em;}

.pin-donation-banner img {width:100% !important;}
.pin-donation-banner {position:relative !important;}
.pin-donation-banner img{ position:relative; z-index:999;}
.pin-donation-header-social .wp-block-social-links li svg {font-size:18px;}
.pin-donation-banner-content {position:absolute !important; left: 0; right: 0; top: 50%; z-index: 99999; transform: translateY(-50%);}
.pin-donation-images-box-section{margin-top:-15px;}

.pin-donation-years-foundation{position:relative;}
.pin-donation-foundation-circle{position:absolute; right:0; bottom:0; width:230px; height:230px;}
.pin-donation-plus{position: relative; top: 30px; right: 65px; text-align: right;}
.pin-donation-numtext{letter-spacing:-1px;}
.pin-donation-numtext{letter-spacing: -1px; position: relative; top: -15px;}
.pin-donation-yeartext{position: relative; top: -15px;}
.pin-donation-yeartext{position: relative; top: -30px; line-height: 26px;}