<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"main","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group main" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"metadata":{"name":"Hero Section"},"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"12vh","left":"0","right":"0"}}},"backgroundColor":"background-secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background-secondary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:12vh;padding-right:0;padding-left:0"><!-- wp:group {"align":"wide","className":"container reveal","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group alignwide container reveal" style="margin-top:0;margin-bottom:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|text-primary"}}},"typography":{"lineHeight":"1","fontStyle":"normal","fontWeight":"500","fontSize":"6rem"}},"textColor":"text-primary"} -->
<h2 class="wp-block-heading has-text-primary-color has-text-color has-link-color" style="font-size:6rem;font-style:normal;font-weight:500;line-height:1">Our Blog</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","className":"paragraph-custom","style":{"typography":{"fontSize":"18px"},"elements":{"link":{"color":{"text":"var:preset|color|text-primary"}}}},"textColor":"text-primary"} -->
<p class="has-text-align-center paragraph-custom has-text-primary-color has-text-color has-link-color" style="font-size:18px">Our blog is a space dedicated to sharing valuable knowledge, industry trends, <br>and inspiring stories to keep you informed and inspired.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Blog Content"},"align":"full","style":{"spacing":{"padding":{"top":"10vh","bottom":"10vh"}}},"backgroundColor":"background-secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background-secondary-background-color has-background" style="padding-top:10vh;padding-bottom:10vh"><!-- wp:columns {"align":"wide","className":"container reveal","style":{"spacing":{"blockGap":{"left":"8vw"}}}} -->
<div class="wp-block-columns alignwide container reveal"><!-- wp:column {"verticalAlignment":"top","width":"50%","className":"column-blog-left"} -->
<div class="wp-block-column is-vertically-aligned-top column-blog-left" style="flex-basis:50%"><!-- wp:query {"queryId":17,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"className":"queryloop-1"} -->
<div class="wp-block-query queryloop-1"><!-- wp:post-template {"layout":{"type":"grid","columnCount":1}} -->
<!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"20px"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|text-primary"}}}},"textColor":"text-primary"} /-->

<!-- wp:post-excerpt {"style":{"elements":{"link":{"color":{"text":"var:preset|color|text-primary"}}}},"textColor":"text-primary"} /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->

<!-- wp:query-pagination {"style":{"elements":{"link":{"color":{"text":"var:preset|color|text-primary"}}}},"textColor":"text-primary","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"50%","style":{"spacing":{"padding":{"top":"6vh"}}}} -->
<div class="wp-block-column is-vertically-aligned-top" style="padding-top:6vh;flex-basis:50%"><!-- wp:query {"queryId":17,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"asc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":1}} -->
<!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"20px"}}} /-->

<!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|text-primary"}}}},"textColor":"text-primary"} /-->

<!-- wp:post-excerpt {"style":{"elements":{"link":{"color":{"text":"var:preset|color|text-primary"}}}},"textColor":"text-primary"} /-->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"style":{"elements":{"link":{"color":{"text":"var:preset|color|text-primary"}}}},"textColor":"text-primary","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Contact-us-section"},"align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0","padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"backgroundColor":"text-secondary","layout":{"type":"constrained","contentSize":"1270px","justifyContent":"center"}} -->
<div class="wp-block-group alignfull has-text-secondary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:columns {"align":"wide","className":"reveal column-contact-left","style":{"spacing":{"padding":{"top":"4vh","bottom":"4vh","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-columns alignwide reveal column-contact-left" style="margin-top:0;margin-bottom:0;padding-top:4vh;padding-right:0;padding-bottom:4vh;padding-left:0"><!-- wp:column {"verticalAlignment":"center","width":"50%","className":" column-left-contact-home container","style":{"spacing":{"blockGap":"14vh"}}} -->
<div class="wp-block-column is-vertically-aligned-center column-left-contact-home container" style="flex-basis:50%"><!-- wp:paragraph {"className":"container","style":{"typography":{"fontSize":"25px"}}} -->
<p class="container" style="font-size:25px"><strong>Contact us</strong></p>
<!-- /wp:paragraph -->

<!-- wp:group {"className":"container","layout":{"type":"flex","orientation":"vertical","verticalAlignment":"top"}} -->
<div class="wp-block-group container"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"500","lineHeight":"1","fontSize":"4.5rem"}}} -->
<h2 class="wp-block-heading" style="font-size:4.5rem;font-style:normal;font-weight:500;line-height:1"><strong>Let’s Frame </strong><br><strong>Your Vision.</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"500"}}} -->
<p style="font-size:16px;font-style:normal;font-weight:500">Ready to bring your story to life? Reach out we’re all <br>about striking visuals and unforgettable moments.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%","className":"column-right-contact-home container"} -->
<div class="wp-block-column column-right-contact-home container" style="flex-basis:50%"><!-- wp:group {"className":"container","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group container"><!-- wp:html -->
<form class="contact-form">
                <div class="form-row">
                    <div class="form-group">
                        <label for="first-name">First name*</label>
                        <input type="text" id="first-name" name="first-name" required>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last name*</label>
                        <input type="text" id="last-name" name="last-name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone number*</label>
                        <input type="tel" id="phone" name="phone" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Message*</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
<!-- /wp:html --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->